<ion-footer>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
      <h2 class="heading" >SHOPPER'S STOP</h2>
      <p class="heading">Lorem ipsum dolor sit amet , consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
      </p>
     <h2 class="heading">Follow US</h2>

     <ul class="social">
      <li> <a href="#"> <i class=" fa fa-facebook">   </i> </a> </li>
      <li> <a href="#"> <i class="fa fa-twitter">   </i> </a> </li>
      <li> <a href="#"> <i class="fa fa-youtube">   </i> </a> </li>
      <li> <a href="#"> <i class="fa fa-pinterest">   </i> </a> </li>
  </ul>



      </div>
      <div class="col-md-2 list">
        <ul>
          <li><a  class="heading" href="#">Home</a></li>
          <li><a class="heading" href="#"routerLink='/men'>Men</a></li>
          <li><a class="heading" href="#">Women</a></li>
          <li><a class="heading" href="#">Watches</a></li>
          <li><a class="heading" href="#">Jackets</a></li>
        </ul>

      </div>
      <div class="col-md-2 list">
        <ul>
          <li><a class="heading"href="#">Search</a></li>
          <li><a class="heading"href="#">Privacy Policy</a></li>
          <li><a class="heading"href="#">Terms & Conditions</a></li>
          <li><a class="heading"href="#">Return & Refunds</a></li>
      </ul>
      </div>
          
            <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 text-center">
                <h3 class="heading">Get registered for free!!</h3>
                <ul>
                    <li>
                        <div class="input-append newsletter-box text-center">
                            <input type="text" class="full text-center" placeholder="Email ">
                            <button class="btn btn-custom" type="button"> <p class="sig">Sign-up <i class="fa fa-long-arrow-right"> </i> </button>
                        </div>
                    </li>
                </ul>
              
            </div>
        </div>
        <!--/.row--> 
    </div>
    <!--/.container--> 

<!--/.footer-->

<div class="footer-bottom">
    <div class="container-fluid">
        <p class="pull-left">  ©2020 Shopper's Stop Powered by Shopify </p>
        <div class="pull-right">
            <ul class="nav nav-pills payments">
              <li><i class="fa fa-cc-visa"></i></li>
                <li><i class="fa fa-cc-mastercard"></i></li>
                <li><i class="fa fa-cc-amex"></i></li>
                <li><i class="fa fa-cc-paypal"></i></li>
            </ul> 
        </div>
    </div>
</div>
<!--/.footer-bottom--> 
</ion-footer>
