<nav class="navbar navbar-custom navbar-expand-lg ">
  <a class="navbar-brand" href="#">SHOPPER'S STOP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
<ion-router-link class="nav-link" href="/home" >Home<span class="sr-only">(current)</span></ion-router-link>
</li>

<li class="nav-item active">

<ion-router-link class="nav-link" href="/men" >Men<span class="sr-only">(current)</span></ion-router-link>

</li>


<li class="nav-item active">
<a class="nav-link" href="/women">Women <span class="sr-only">(current)</span></a>
</li>


<li class="nav-item active">
<a class="nav-link" href="#">Watches <span class="sr-only">(current)</span></a>
</li>





<li class="nav-item active">
<a class="nav-link" href="#">Offers <span class="sr-only">(current)</span></a>
</li>





</ul>


<ul class ="icons">
<a class="nav-link" href="#">
<i class="fas fa-microphone"></i>
</a>
</ul>


<ul class ="icons">
<a class="nav-link" href="#">
<i class="fas fa-search"></i>
</a>
</ul>


<ul class="nav-item dropdown">
<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
<i class="fas fa-user"></i>
</a>
<div class="dropdown-menu" aria-labelledby="navbarDropdown">

<ion-router-link class="dropdown-item" href="/login">Login/Signup</ion-router-link>

<div class="dropdown-divider"></div>

<ion-router-link class="dropdown-item" href="/profile">Profile Details</ion-router-link>
<ion-router-link class="dropdown-item" href="Order History">Order History</ion-router-link>


<div class="dropdown-divider"></div>
<button class="btn btn-default" (click)="logout()"><a class="dropdown-item" href="/login">LOGOUT</a></button>
</div>

</ul>

<ul class = "icons">
<a class="nav-link" href="cart">
<i class="fas fa-shopping-cart"></i>


</a>
</ul>











</div>
</nav>