<!-- 
<div class="container">
   
  <a class="nav-link" href="#" routerLink = "/productdetails" >
    <div class="cards_wrap">
      <div class="card_item">
        <div class="card_inner"> </div>
      <span class="photoDesc" ><h6>Product Name</h6></span>
      <span class="photoDesc"><h2>$0.00</h2></span>
      </div>
  
      <div class="card_item">
       <div class="card_inner"></div>
       <span class="photoDesc"><h6>Product Big Name</h6></span>
       <span class="photoDesc"><h2>$0.00</h2></span> 
       
     </div>
  
     <div class="card_item">
       <div class="card_inner"></div>
       <span class="photoDesc"><h6>Product Bigger Text Name</h6></span>
       <span class="photoDesc"><h2>$0.00</h2></span> 
       
     </div>
  
     <div class="card_item">
       <div class="card_inner"></div>
       <span class="photoDesc"><h6>Product Name</h6></span>
       <span class="photoDesc"><h2>$0.00</h2></span>  
       
     </div>

    </div>
  </a>
</div> -->
<!-- 
<div class="container-fluid mt-4">
  
  <ion-row>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3" class="px-3 d-flex align-items-stretch"  *ngFor = "let product of product">
      <div class="row">
        <div class="col">
          <img src="{{product.image}}" style="width: 100%">
        </div>
      </div>
      <div class="row px-3 pt-3">
        <div class="col">
      <p>{{product.type}}</p>
      <p>{{product.price}}</p>
      <p>{{product.brand}}</p>
      <p>{{product.Material}}</p>
      <p>{{product.Pattern}}</p>
        </div>
      </div> -->
      <!-- <p>{{res}}</p>
      <p>{{ totalAngularPackages }}</p>
      <div class="container">
        <div class="container-fluid mt-4">
        <ion-row>
          <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3" class="px-3 d-flex align-items-stretch"  *ngFor = "let product of products">
            <div class="row">
              <div class="col">
                
                <div class="cards_wrap">
                   <div class="card_item">
                    <div class="card_inner"> 
                     <div class="col">
                       <img src="{{ product.image }}">
              
                    </div>
                   
      
      
                     <span class="photoDesc" ><h6>{{products.name}}</h6></span>
                    <span class="photoDesc"><h2> <del>${{products.op}}</del> ${{products.price}}</h2></span> 
                  </div>
               </div> 
        
      </div>
 -->

      
<!-- 
<div class="container">
  <div class="container-fluid mt-4">
  
  <ion-row>

    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3" class="px-3 d-flex align-items-stretch"  *ngFor = "let x of Object"><!-- 
      <div [routerLink]= "'/productdetails/'+product.detailPageUrl+'/'+product._id" class="clickable shadow bg-white mb-5 p-0 d-flex flex-column"> -->
       <!-- 
        <div class="row">
        <div class="col">


    <div class="cards_wrap">
      <div class="card_item">
        <div class="card_inner"> 
          <div class="col">
          <img  [src]="image" width="100%">
        
              </div>
        
          
     
    
  </div> 
  </div>
    
  <span class="photoDesc" ><h5 class="name">{{x.name}}</h5></span>
  <span class="photoDesc"><h2> <del>${{op}}</del> ${{x.price}}</h2></span>
  </div>
  </div>
    </div>
    </ion-col>
    </ion-row>
   
</div>
 -->


 <div class="container">
 
  <ion-row>
<!--     <ion-col  size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3" class="px-3 d-flex align-items-stretch"  *ngFor = "let product of products">
      <p>{{ product.name }}</p>
    
    </ion-col> -->
    <p>{{ products.name }}</p>
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3" class="px-3 d-flex align-items-stretch"  *ngFor = "let product of products">
        
      <!-- <div (click) = "onClick(product._id.$oid)" class="clickable shadow bg-white mb-5 p-0 d-flex flex-column"> -->
     
       <div [routerLink] = "['/productdetails/']" [queryParams]="{name: product.name, type: product.detailPageUrl ,oid: product._id.$oid, material: product.Material, op : product.op, img: product.image, desc : product.desc, price: product.price, i1: product.i1, i2: product.i2, i3: product.i3}"  class="clickable shadow bg-white mb-5 p-0 d-flex flex-column">
      <div class="row">
        <div class="col">
        

 
    <div class="cards_wrap">
      <div class="card_item">
        <div class="card_inner"> 
          <div class="col">
          <img src="{{ product.image }}" style="width: 100%">
        
              </div>
        
  
        
     
    
    </div>
  </div> 
  </div>

     
 
  <span class="photoDesc" ><h1>
    <p class="brand">{{  product.brand }}</p>
    </h1>
  <p class="name">
    {{ product.name }}
  </p></span>
  <span class="photoDesc"><h2> <del> ${{ product.op }} </del> ${{ product.price }} </h2></span>
  </div>
  </div>
      
     </div>
     

    </ion-col>
    </ion-row>
   
</div>