<div class="container">
 
  <ion-row>

    
    <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3" class="px-3 d-flex align-items-stretch"  *ngFor = "let men of idealfor">
        
      
     
       <div [routerLink] = "['/productdetails']" [queryParams]="{name: men.name, type: men.detailPageUrl ,oid: men._id.$oid, material: men.Material, op : men.op, img: men.image, desc : men.desc, price: men.price, i1: men.i1, i2: men.i2, i3: men.i3}"  class="clickable shadow bg-white mb-5 p-0 d-flex flex-column">
      <div class="row">
        <div class="col">
        

 
    <div class="cards_wrap">
      <div class="card_item">
        <div class="card_inner"> 
          <div class="col">
          <img src="{{ men.image }}" style="width: 100%">
        
              </div>
        
  
        
     
    </div>
  </div> 
  </div>

     
 
  <span class="photoDesc" ><h1>
    <p class="brand">{{  men.brand }}</p>
    </h1>
  <p class="name">
    {{ men.name }}
  </p></span>
  <span class="photoDesc"><h2> <del> ${{ men.op }} </del> ${{ men.price }} </h2></span>
  </div>
  </div>
      
     </div>
     

    </ion-col>
    </ion-row>
   
</div>