<div class="container-fluid">
  <div class="inner">
   

    <div class="row">
      <div class="col">
        <div class="testimonial pb-5">
          <div class="col-md-4"><img src="https://bootdey.com/img/Content/user_2.jpg" class="media-object img-thumbnail" /></div>
          <div class="name">Customer name</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmoet dolore magna aliqua. Ut enim ad minimet dolore magna aliqua. Ut enim

          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial pb-5">
          <div class="col-md-4"><img src="https://bootdey.com/img/Content/user_3.jpg" class="media-object img-thumbnail" /></div>
          <div class="name">Customer name</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          </p>
        </div>
      </div>

      <div class="col">
        <div class="testimonial pb-5">
          <div class="col-md-4"><img src="https://bootdey.com/img/Content/user_2.jpg" class="media-object img-thumbnail" /></div>
          <div class="name">Customer name</div>
          <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
          </div>
       

          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. et dolore magna aliqua
          </p>
        </div>
      </div>
    </div>
   </div>
   </div>